@use '@/scss/colors';
@use '@/scss/dimensions';
@use '@/scss/general';

.center {
  @include dimensions.centeredContainer;
  min-height: calc(100vh - dimensions.$navbar-height);
  padding: 55px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
  & > i {
    font-size: 100px;
    color: #eee;
  }
  & > h1 {
    max-width: 500px;
    font-weight: 500;
  }
  & > h3 {
    max-width: 500px;
    font-weight: 400;
    color: colors.$gray;
  }
  & > button {
    margin-top: 25px;
  }
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.add {
  @include general.interactive;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 55px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  &:hover {
    box-shadow: 0 0 2px colors.$box-shadows;
  }
  & > i {
    font-size: 20px;
  }
}
