@use '@/scss/colors';
@use '@/scss/general';

.link {
  @include general.interactive;
  position: relative;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
  &:hover {
    box-shadow: 0 0 2px colors.$box-shadows;
  }
}
.linkIcon, .trashIcon {
  @include general.softLink;
  position: absolute;
  font-size: 15px;
  color: #bbb;
}
.linkIcon {
  top: 8px;
  right: 10px;
}
.trashIcon {
  top: 36px;
  right: 11px;
}
.type {
  padding: 40px 40px 15px;
  font-size: 20px;
  color: colors.$blue;
}
.title {
  padding: 0px 40px 35px;
}
.status {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  & > div {
    @include general.interactive;
    padding: 10px 15px;
    color: colors.$gray;
    background: colors.$gray-background;
    border-top: 1px solid #ddd;
    &:hover {
      border-top: 1px solid #bbb;
      background: colors.$gray-background-hovered;
    }
    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }
    &.selected {
      color: colors.$blue;
      background: colors.$blue-background;
      border-top: 1px solid colors.$blue-border;
    }
  }
}

