@use '@/scss/colors';
@use '@/scss/dimensions';
@use '@/scss/general';

.container {
  position: sticky;
  top: 0px;
  z-index: 10;
  height: dimensions.$navbar-height;
  background: #fff;
  box-shadow: 0px 0px 3px colors.$box-shadows;
}
.center {
  @include dimensions.centeredContainer;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  @include general.interactive;
  margin-right: auto;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 18px;
  &:hover {
    border: 1px solid #eee;
  }
  &:active {
    border: 1px solid #bbb;
  }
}
.logoHighlight {
  color: colors.$blue;
}
.navLinks {
  display: flex;
  align-items: center;
  & > div {
    @include general.interactive;
    padding: 10px 15px;
    &:hover {
      color: #aaa;
    }
  }
}
.loginButton {
  margin-right: 15px;
  margin-left: 30px;
}
.accountButton {
  margin-right: 15px;
  margin-left: 30px;
}